@import "tailwindcss";

@theme {
  --color-primary: #000000;
  --color-secondary: #000001;
  --color-accent: #E89AC7;
  --color-light: #1A1A1D;
  --color-heading: #EEEEEE;

  --color-hover: #B44C97;
  --color-hover-text: #FFFFFF;
}

:root {
  --background: #3B1C32;
  --foreground: #FFFFFF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
